<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
  </head>
  <body>

    {{#if user}}
      <header>
        <nav>
          <form action='/api/auth/logout' method='post'>
            <button type='submit'>Logout</button>
          </form>
        </nav>
      </header>
    {{/if}}

    <main>
      {{{body}}}
    </main>
  </body>
</html>