<h1>{{{title}}}</h1>
<a href='/login'>Back</a>

<form action='/api/auth/restore-password' method='POST'>
  <label for='email'>Email:</label>
  <input type='text' id='email' name='email' required />
  <br />
  <label for='password'>Password:</label>
  <input type='password' id='password' name='password' required />
  <br />

  <button type='Submit'>Submit</button>
  <br />

</form>