<link rel="stylesheet" href="css/styles.css">

<h1>Real Time Products</h1>
<div>
  <h2>Products</h2>
  <table id='table'>
  </table>
  <h2>Form</h2>
  <form id='form' class="form">
      <label>
        <span>Title:</span>
        <input type='text' />
      </label>
      <label>
        <span>Description:</span>
        <input type='text' />
      </label>
      <label>
        <span>Price:</span>
        <input type='number' />
      </label>
      <label>
        <span>Thumbnail:</span>
        <input type='text' />
      </label>
      <label>
        <span>Code:</span>
        <input type='text' />
      </label>
      <label>
        <span>Stock:</span>
        <input type='number' />
      </label>
      <label>
        <span>Category:</span>
        <input type='text' />
      </label>
    </div>
    <button type='submit'>Submit</button>
  </form>
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='js/index.js'></script>